doctype html
html
    head
        title Chinese ID Card Verification Tool
    body
        h1 Chinese ID Card Validator
        form(method='post' action='/')
            label Enter ID Card Number: 
            input(type='text', name='idInput')
            input(type='submit', value='Validate')